body {
    background-color: #595959;
    font-family: 'Roboto Slab';
    color: #cecece;
    margin: 0;
}

@keyframes slideFromLeft {
    0%{
        transform: translate(-500px);
    }
    100%{
        transform: translate(0px);
    }
}

@keyframes slideFromRight {
    0%{
        transform: translate(500px);
    }
    100%{
        transform: translate(0px);
    }
}

#container {
    background: linear-gradient(21deg, #595959, #aeaeae, #7f7f7f);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
    position: absolute;
    border-style: solid;
    margin: 2%;
    height: 92%;
    z-index: -1;
}

@-webkit-keyframes AnimationName {
    0%{background-position:72% 0%}
    50%{background-position:29% 100%}
    100%{background-position:72% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:72% 0%}
    50%{background-position:29% 100%}
    100%{background-position:72% 0%}
}
@keyframes AnimationName {
    0%{background-position:72% 0%}
    50%{background-position:29% 100%}
    100%{background-position:72% 0%}
}

#main-box {
    position: relative;
    background: linear-gradient(180deg, rgba(0,32,63,0.8) 0%, rgba(0,32,63,0.8) 35%, rgba(0,32,63,0.8) 100%);
    border-style: solid;
    top: 2%;
    left: 2%;
    padding: 10px;
    width: 20%;
    animation: slideFromLeft .5s ease-in-out .2s;
}

#name {
    display: block;
    border-bottom: solid;
    font-size: 30px;
    font-weight: bold;
}

#tag {
    display: block;
    font-size: 20px;
}

#about {
    position: relative;
    background: linear-gradient(180deg, rgba(0,32,63,0.8) 0%, rgba(0,32,63,0.8) 35%, rgba(0,32,63,0.8) 100%);
    border-style: solid;
    left: 52%;
    top: 0%;
    padding: 10px;
    width: 20%;
    animation: slideFromRight .5s ease-in-out .2s;
}

#about-title {
    display: block;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    border-bottom: solid;
}

#about-text {
    display: block;
    font-size: 20px;
}

#projects{
    position: relative;
    background: linear-gradient(180deg, rgba(0,32,63,0.8) 0%, rgba(0,32,63,0.8) 35%, rgba(0,32,63,0.8) 100%);
    border-style: solid;
    left: 77%;
    top: -50%;
    padding: 10px;
    width: 20%;
    animation: slideFromRight .5s ease-in-out .2s;
}

#projects-title {
    display: block;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    border-bottom: solid;
}

.projects-text {
    display: block;
    font-size: 20px;
    color: #cecece;
    text-decoration: none;
}

.projects-text:hover {
    color: #828282;
}

#contact {
    position: relative;
    background: linear-gradient(180deg, rgba(0,32,63,0.8) 0%, rgba(0,32,63,0.8) 35%, rgba(0,32,63,0.8) 100%);
    border-style: solid;
    top: -55%;
    left: 2%;
    width: 20%;
    padding: 10px;
    animation: slideFromLeft .5s ease-in-out .2s;
}

#contact-title {
    display: block;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    border-bottom: solid;
}

#contact-email {
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #00688b;
}

.social {
    text-decoration: none;
    color: #cecece;
}

.social:hover {
    color: #00688b;
}

#languages {
    display: relative;
    position: relative;
    left: 2%;
    top: -5%;
    animation: slideFromLeft .6s ease-in-out .2s;
}

.alanguage {
    display: relative;
    margin-left: .5%;
    width: 3%;
    height: 3%
}

#web-dev {
    width: 9%;
}