* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #595959;
    font-family: 'Roboto Slab';
    color: #cecece;
    margin: 0;
    display: flex;
}

/* @keyframes slideFromLeft {
    0%{
        transform: translate(-500px);
    }
    100%{
        transform: translate(0px);
    }
}

@keyframes slideFromRight {
    0%{
        transform: translate(500px);
    }
    100%{
        transform: translate(0px);
    }
} */

@keyframes fadeIn {
    to{
        opacity: 1;
    }
}

@-webkit-keyframes AnimationName {
    0%{background-position:72% 0%}
    50%{background-position:29% 100%}
    100%{background-position:72% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:72% 0%}
    50%{background-position:29% 100%}
    100%{background-position:72% 0%}
}
@keyframes AnimationName {
    0%{background-position:72% 0%}
    50%{background-position:29% 100%}
    100%{background-position:72% 0%}
}

#splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #3b3b3b;
    z-index: 100;
    text-align: center;
    line-height: 90vh;
}

#splash-text{
    opacity: 0;
    animation: fadeIn .25s ease-in forwards;
    font-size: 50px;
    font-weight: bold;
}

#container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2%;
    background: linear-gradient(21deg, #595959, #aeaeae, #7f7f7f);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 8s ease infinite;
    -moz-animation: AnimationName 8s ease infinite;
    animation: AnimationName 8s ease infinite;
    position: absolute;
    border-style: solid;
    margin: 3vh 3vw;
    height: 94vh;
    width: 94vw;
    z-index: -1;
}



#main-box {
    grid-column-start: 1;
    grid-row-start: 2;
    align-self: start;
    margin-top: -15%;
    margin-left: 10%;
    background: linear-gradient(180deg, rgba(0,32,63,0.8) 0%, rgba(0,32,63,0.8) 35%, rgba(0,32,63,0.8) 100%);
    border-style: solid;
    padding: 10px;
    width: 16vw;
    box-shadow: 8px 12px 5px #404040;
    /* animation: slideFromLeft .5s ease-in-out .2s; */
}

#main-box:hover {
    transform: scale(1.05);
}

#name {
    display: block;
    border-bottom: solid;
    font-size: 30px;
    font-weight: bold;
}

#tag {
    display: block;
    font-size: 20px;
    font-style: italic;
}

#about {
    grid-column-start: 4;
    grid-row-start: 2;
    margin-left: 15%;
    background: linear-gradient(180deg, rgba(0,32,63,0.8) 0%, rgba(0,32,63,0.8) 35%, rgba(0,32,63,0.8) 100%);
    border-style: solid;
    padding: 10px;
    width: 18vw;
    box-shadow: 8px 12px 5px #404040;
    /* animation: slideFromRight .5s ease-in-out .2s; */
}

#about:hover {
    transform: scale(1.05);
}

#about-title {
    display: block;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    border-bottom: solid;
}

#about-text {
    display: block;
    font-size: 20px;
}

#projects{
    grid-column-start: 6;
    grid-row-start: 2;
    align-self: center;
    margin-top: -75%;
    background: linear-gradient(180deg, rgba(0,32,63,0.8) 0%, rgba(0,32,63,0.8) 35%, rgba(0,32,63,0.8) 100%);
    border-style: solid;
    padding: 10px;
    width: 16vw;
    box-shadow: 8px 12px 5px #404040;
    /* animation: slideFromRight .5s ease-in-out .2s; */
}

#projects:hover {
    transform: scale(1.05);
}

#projects-title {
    display: block;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    border-bottom: solid;
}

.projects-text {
    display: block;
    font-size: 20px;
    color: #cecece;
    text-decoration: none;
}

.projects-text:hover {
    color: #00688b;
}

#contact {
    grid-column-start: 1;
    grid-row-start: 3;
    margin-left: 10%;
    background: linear-gradient(180deg, rgba(0,32,63,0.8) 0%, rgba(0,32,63,0.8) 35%, rgba(0,32,63,0.8) 100%);
    border-style: solid;
    width: 16vw;
    padding: 10px;
    box-shadow: 8px 12px 5px #404040;
    /* animation: slideFromLeft .5s ease-in-out .2s; */
}

#contact:hover {
    transform: scale(1.05);
}

#contact-title {
    display: block;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    border-bottom: solid;
}

#contact-email {
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #00688b;
}

.social {
    text-decoration: none;
    color: #cecece;
}

.social:hover {
    color: #00688b;
}

#languages {
    display: flex;
    grid-column-start: 6;
    grid-row-start: 4;
    justify-content: center;
    /* animation: slideFromRight .5s ease-in-out .2s; */
}

.alanguage {
    margin-left: 2%;
    width: 3vw;
    height: 5vh;
}

#web-dev {
    width: 9vw;
}